In [8]:
import pandas as pd

# 1.Write a Pandas program to compare the elements of two Pandas series. 
# Sample Series [4,65,436,3,9], [7,0,3,897,9]

series1 = pd.Series([4, 65, 436, 3, 9])
series2 = pd.Series([7, 0, 3, 897, 9])

# Comparing the elements
comparison1 = series1 > series2
print(comparison1)

comparison2 = series1 < series2
print(comparison2)

comparison3 = series1 == series2
print(comparison3)

0    False
1     True
2     True
3    False
4    False
dtype: bool
0     True
1    False
2    False
3     True
4    False
dtype: bool
0    False
1    False
2    False
3    False
4     True
dtype: bool

In [9]:
# 2.Write a Pandas program to add, subtract, multiply and divide two Pandas series. 
# Sample Series: [2,4,6,8,14], [1,3,5,7,9]

series1 = pd.Series([2, 4, 6, 8, 14])
series2 = pd.Series([1, 3, 5, 7, 9])

# Perform arithmetic operations
addition = series1 + series2
subtraction = series1 - series2
multiplication = series1 * series2
division = series1 / series2

# Display the results
print("Addition:\n", addition)
print("Subtraction:\n", subtraction)
print("Multiplication:\n", multiplication)
print("Division:\n", division)

Addition:
 0     3
1     7
2    11
3    15
4    23
dtype: int64
Subtraction:
 0    1
1    1
2    1
3    1
4    5
dtype: int64
Multiplication:
 0      2
1     12
2     30
3     56
4    126
dtype: int64
Division:
 0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.555556
dtype: float64

In [10]:
# 3.Write a Pandas program to convert a dictionary to a Pandas series. 
# Sample dictionary: dictionary1 = {‘Josh’: 24, ‘Sam’: 36, ‘Peace’: 19, ‘Charles’: 65, ‘Tom’: 44}

series_dict = pd.Series({'Josh': 24, 'Sam': 36, 'Peace': 19, 'Charles': 65, 'Tom': 44})

# Convert the Series to a DataFrame and set column names
df = series_dict.rename_axis('Name').reset_index(name='Age')
print("DataFrame with column names 'Name' and 'Age':\n", df)

DataFrame with column names 'Name' and 'Age':
       Name  Age
0     Josh   24
1      Sam   36
2    Peace   19
3  Charles   65
4      Tom   44

In [11]:
# 4.Write a Pandas program to convert a given series to an array.
# Sample series: [‘Love’, 800, ‘Joy’, 789.9, ‘Peace’, True]

import numpy as np

series = pd.Series(['Love', 800, 'Joy', 789.9, 'Peace', True])
# Convert the Series to a NumPy array
array = series.to_numpy()
print("NumPy Array:\n", array)

NumPy Array:
 ['Love' 800 'Joy' 789.9 'Peace' True]

In [12]:
# 5.Write a Pandas program to display the most frequent value in the given series and replace everything else as ‘Other’ in the series. 
# (Use the ‘HomeTeamGoals’ column in the dataset provided)

series = pd.Series(['A', 'B', 'A', 'C', 'B', 'A', 'D', 'C'])
most_frequent = series.mode()[0]
print("Most Frequent Value:\n", most_frequent)
series_replaced = series.where(series == most_frequent, other='Other')
print("Series after Replacement:\n", series_replaced)

Most Frequent Value:
 A
Series after Replacement:
 0        A
1    Other
2        A
3    Other
4    Other
5        A
6    Other
7    Other
dtype: object