In [12]:
# 1. Write a Python program to output your favorite phone brand.
x = ("samsung", "iphone", "tecno", "redmi")
print(x[0])

samsung

In [14]:
# 2. Use negative indexing to print the 2nd last item in your tuple
x = ("samsung", "iphone", "tecno", "redmi")
print(x[-2])

tecno

In [26]:
# 3. Using the phones list above, write a python program to update “iphone” to “itel”
x = ("samsung", "iphone", "tecno", "redmi")
y = list(x)
y[1] = "itel"
x = tuple (y)
print(x)

('samsung', 'itel', 'tecno', 'redmi')

In [28]:
# 4. Write a Python program to add “Huawei” to your tuple.
x = ("samsung", "iphone", "tecno", "redmi")
y = list(x)
y.append("Huawei")
x = tuple (y)
print(x)

('samsung', 'iphone', 'tecno', 'redmi', 'Huawei')

In [30]:
# 5. Write a Python program to loop through the tuple above.
x = ("samsung", "iphone", "tecno", "redmi")
for i in x:
    print(i)

samsung
iphone
tecno
redmi

In [32]:
# 6. Write a Python program to remove/delete the first item in your tuple.
x = ("samsung", "iphone", "tecno", "redmi")
y = list(x)
y.pop(0)
x = tuple (y)
print(x)

('iphone', 'tecno', 'redmi')

In [34]:
# 7. Using the tuple() constructor, create a tuple of the cities in Uganda.
cities = tuple(("kampala", "lira", "jinja", "mbale", "mukono", "arua", "kabale"))
print(cities)

('kampala', 'lira', 'jinja', 'mbale', 'mukono', 'arua', 'kabale')

In [36]:
# 8. Write a Python program to unpack your tuple.
cities = tuple(("kampala", "lira", "jinja", "mbale", "mukono", "arua", "kabale"))
(central, north, western, cent, center, northern, west) = cities
print(central)
print(north)
print(western)
print(cent)
print(center)
print(northern)
print(west)

kampala
lira
jinja
mbale
mukono
arua
kabale

In [38]:
# 9.Use a range of indexes to print the 2nd, 3rd and 4th cities in your tuple above.
cities = tuple(("kampala", "lira", "jinja", "mbale", "mukono", "arua", "kabale"))
print(cities[1:4])

('lira', 'jinja', 'mbale')

In [42]:
# 10. Write two tuples, one containing your first names and the other your second names. Join the two tuples.
firstNames = ("John", "Mable", "Kiran", "George", "Louis")
lastNames = ("Ssenyange", "Nazziwa", "Kobusingye", "Kato", "Atuhaire")
names = firstNames + lastNames
print(names)

('John', 'Mable', 'Kiran', 'George', 'Louis', 'Ssenyange', 'Nazziwa', 'Kobusingye', 'Kato', 'Atuhaire')

In [44]:
# 11. Create a tuple of colors and multiply it by 3.
colors = ("red", "blue", "yellow", "pink", "orange", "peach")
myColors = colors *3
print(myColors)

('red', 'blue', 'yellow', 'pink', 'orange', 'peach', 'red', 'blue', 'yellow', 'pink', 'orange', 'peach', 'red', 'blue', 'yellow', 'pink', 'orange', 'peach')

In [4]:
# 12. Return the number of times 8 appears in this tuple
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
thislist = list(thistuple)
print(thislist.count(8))

2