Reading the csv files

In [11]:
import pandas as pd

df1 = pd.read_csv('files/Mine.csv')
df2 = pd.read_csv('files/Sales.csv')
print(df1)
print(df2)

    Duration         Date  Pulse  Maxpulse  Calories
0         60  2023/10/01'  110.0     130.0     409.1
1         60  2023/10/02'  117.0     145.0     479.0
2         60  2023/10/03'  103.0     135.0     340.3
3         45  2023/10/04'  109.0     175.0     282.4
4         45  2023/10/05'  117.0     150.0     405.1
5         60  2023/10/06'  103.0     125.0     300.0
6         60  2023/10/07'  110.0     135.0     374.0
7        400  2023/10/08'  114.0     133.0       NaN
8         60  2023/10/09'  112.0     126.0     193.8
9         30  2023/10/10'  102.0     147.0     234.8
10        60  2023/10/11'  100.0     129.0     375.3
11        60  2023/10/12'  109.0     131.0     345.6
12        60  2023/10/13'  103.0     136.0     239.2
13        60  2023/10/15'  120.0       NaN     240.8
14        60  2023/10/15'  120.0     100.0     240.8
15        60  2023/10/16'    NaN     101.0     243.8
16        60  2023/10/17'  127.0     102.0     380.2
17        45     20231018  142.0     103.0     241.4
18        60  2023/10/19'  151.0     104.0       NaN
19        60  2023/10/20'  162.0     105.0     300.9
20        60  2023/10/21'  100.0     106.0     280.0
21        60  2023/10/22'  103.0     107.0       NaN
22        60          NaN  130.0     108.0     230.8
23        60  2023/10/24'  134.0       NaN     239.7
24        60  2023/10/25'  132.0     110.0     236.9
25        60  2023/10/26'  135.0     118.0     278.8
26        60  2023/10/27'  137.0     119.0     212.9
27        60  2023/10/28'  138.0     121.0     345.9
28        60  2023/10/29'  139.0     122.0     345.2
29        60          NaN   92.0     125.0     380.5
30        60  2023/10/31'   94.0     126.0       NaN
   Order ID  Customer Name   Order Date   Product  Quantity  Unit Price  \
0      1001       John Doe   01/01/2024  Widget A      10.0        25.0
1      1002     Jane Smith   01/02/2024  Widget B       5.0        40.0
2      1003            NaN  2024/01/03'  Widget A       NaN        25.0
3      1004  Alice Johnson   04/01/2024  Widget C       3.0         NaN
4      1005      Bob Brown  2024/01/05'  Widget B      10.0        40.0
5      1006       John Doe   06/01/2024  Widget A       4.0        25.0
6      1001       John Doe   01/01/2024  Widget A      10.0        25.0
7      1007     Jane Smith   07/01/2024  Widget C      -6.0        70.0

   Total Revenue
0          250.0
1          200.0
2            NaN
3          210.0
4          400.0
5          100.0
6          250.0
7         -420.0

Removing Empty cells / Missing values

In [15]:
import pandas as pd

df1 = pd.read_csv('files/Mine.csv')
df2 = pd.read_csv('files/Sales.csv')

# Removing empty cells and changing original dataframes without null 
# Nan values in Mine.csv on rows 7,13,15,18,21,22,23,29,30,31,32
# Nan values in Sales.csv on rows 2 and 3

df1.dropna(inplace=True)
df2.dropna(inplace=True)
print(df1.to_string())
print(df2.to_string())

    Duration         Date  Pulse  Maxpulse  Calories
0         60  2023/10/01'  110.0     130.0     409.1
1         60  2023/10/02'  117.0     145.0     479.0
2         60  2023/10/03'  103.0     135.0     340.3
3         45  2023/10/04'  109.0     175.0     282.4
4         45  2023/10/05'  117.0     150.0     405.1
5         60  2023/10/06'  103.0     125.0     300.0
6         60  2023/10/07'  110.0     135.0     374.0
8         60  2023/10/09'  112.0     126.0     193.8
9         30  2023/10/10'  102.0     147.0     234.8
10        60  2023/10/11'  100.0     129.0     375.3
11        60  2023/10/12'  109.0     131.0     345.6
12        60  2023/10/13'  103.0     136.0     239.2
14        60  2023/10/15'  120.0     100.0     240.8
16        60  2023/10/17'  127.0     102.0     380.2
17        45     20231018  142.0     103.0     241.4
19        60  2023/10/20'  162.0     105.0     300.9
20        60  2023/10/21'  100.0     106.0     280.0
24        60  2023/10/25'  132.0     110.0     236.9
25        60  2023/10/26'  135.0     118.0     278.8
26        60  2023/10/27'  137.0     119.0     212.9
27        60  2023/10/28'  138.0     121.0     345.9
28        60  2023/10/29'  139.0     122.0     345.2
   Order ID Customer Name   Order Date   Product  Quantity  Unit Price  Total Revenue
0      1001      John Doe   01/01/2024  Widget A      10.0        25.0          250.0
1      1002    Jane Smith   01/02/2024  Widget B       5.0        40.0          200.0
4      1005     Bob Brown  2024/01/05'  Widget B      10.0        40.0          400.0
5      1006      John Doe   06/01/2024  Widget A       4.0        25.0          100.0
6      1001      John Doe   01/01/2024  Widget A      10.0        25.0          250.0
7      1007    Jane Smith   07/01/2024  Widget C      -6.0        70.0         -420.0

 Removing inconsistent data Formats

In [1]:
import pandas as pd

# Wrong formats on 'Date' column in both dataframes
# in Mine.csv: on row 17 with 20231018 
# in Sales.csv: on row 4 with 2024/01/05'

df1 = pd.read_csv('files/Mine.csv')
df2 = pd.read_csv('files/Sales.csv')

# firstly im going to convert the 'Date' column in df1 and 'Order Date' column in df2 to datetime format
df1['Date'] = pd.to_datetime(df1['Date'], errors='coerce')
df2['Order Date'] = pd.to_datetime(df2['Order Date'], format='mixed', errors='coerce')

print(df1.to_string())
print(df2.to_string())

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2023-10-01  110.0     130.0     409.1
1         60 2023-10-02  117.0     145.0     479.0
2         60 2023-10-03  103.0     135.0     340.3
3         45 2023-10-04  109.0     175.0     282.4
4         45 2023-10-05  117.0     150.0     405.1
5         60 2023-10-06  103.0     125.0     300.0
6         60 2023-10-07  110.0     135.0     374.0
7        400 2023-10-08  114.0     133.0       NaN
8         60 2023-10-09  112.0     126.0     193.8
9         30 2023-10-10  102.0     147.0     234.8
10        60 2023-10-11  100.0     129.0     375.3
11        60 2023-10-12  109.0     131.0     345.6
12        60 2023-10-13  103.0     136.0     239.2
13        60 2023-10-15  120.0       NaN     240.8
14        60 2023-10-15  120.0     100.0     240.8
15        60 2023-10-16    NaN     101.0     243.8
16        60 2023-10-17  127.0     102.0     380.2
17        45        NaT  142.0     103.0     241.4
18        60 2023-10-19  151.0     104.0       NaN
19        60 2023-10-20  162.0     105.0     300.9
20        60 2023-10-21  100.0     106.0     280.0
21        60 2023-10-22  103.0     107.0       NaN
22        60        NaT  130.0     108.0     230.8
23        60 2023-10-24  134.0       NaN     239.7
24        60 2023-10-25  132.0     110.0     236.9
25        60 2023-10-26  135.0     118.0     278.8
26        60 2023-10-27  137.0     119.0     212.9
27        60 2023-10-28  138.0     121.0     345.9
28        60 2023-10-29  139.0     122.0     345.2
29        60        NaT   92.0     125.0     380.5
30        60 2023-10-31   94.0     126.0       NaN
   Order ID  Customer Name Order Date   Product  Quantity  Unit Price  Total Revenue
0      1001       John Doe 2024-01-01  Widget A      10.0        25.0          250.0
1      1002     Jane Smith 2024-01-02  Widget B       5.0        40.0          200.0
2      1003            NaN 2024-01-03  Widget A       NaN        25.0            NaN
3      1004  Alice Johnson 2024-04-01  Widget C       3.0         NaN          210.0
4      1005      Bob Brown 2024-01-05  Widget B      10.0        40.0          400.0
5      1006       John Doe 2024-06-01  Widget A       4.0        25.0          100.0
6      1001       John Doe 2024-01-01  Widget A      10.0        25.0          250.0
7      1007     Jane Smith 2024-07-01  Widget C      -6.0        70.0         -420.0

In [ ]:
import pandas as pd

# Wrong formats on 'Date' column in both dataframes
# in Mine.csv: on row 17 with 20231018 
# in Sales.csv: on row 4 with 2024/01/05'

df1 = pd.read_csv('files/Mine.csv')
df2 = pd.read_csv('files/Sales.csv')

# firstly im going to convert the 'Date' column in df1 and 'Order Date' column in df2 to datetime format
df1['Date'] = pd.to_datetime(df1['Date'], errors='coerce')
df2['Order Date'] = pd.to_datetime(df2['Order Date'], format='mixed', errors='coerce')

# Removing empty cells and Nat values
df1.dropna(inplace=True)
df2.dropna(inplace=True)
print(df1.to_string())
print(df2.to_string())

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2023-10-01  110.0     130.0     409.1
1         60 2023-10-02  117.0     145.0     479.0
2         60 2023-10-03  103.0     135.0     340.3
3         45 2023-10-04  109.0     175.0     282.4
4         45 2023-10-05  117.0     150.0     405.1
5         60 2023-10-06  103.0     125.0     300.0
6         60 2023-10-07  110.0     135.0     374.0
8         60 2023-10-09  112.0     126.0     193.8
9         30 2023-10-10  102.0     147.0     234.8
10        60 2023-10-11  100.0     129.0     375.3
11        60 2023-10-12  109.0     131.0     345.6
12        60 2023-10-13  103.0     136.0     239.2
14        60 2023-10-15  120.0     100.0     240.8
16        60 2023-10-17  127.0     102.0     380.2
19        60 2023-10-20  162.0     105.0     300.9
20        60 2023-10-21  100.0     106.0     280.0
24        60 2023-10-25  132.0     110.0     236.9
25        60 2023-10-26  135.0     118.0     278.8
26        60 2023-10-27  137.0     119.0     212.9
27        60 2023-10-28  138.0     121.0     345.9
28        60 2023-10-29  139.0     122.0     345.2
   Order ID Customer Name Order Date   Product  Quantity  Unit Price  Total Revenue
0      1001      John Doe 2024-01-01  Widget A      10.0        25.0          250.0
1      1002    Jane Smith 2024-01-02  Widget B       5.0        40.0          200.0
4      1005     Bob Brown 2024-01-05  Widget B      10.0        40.0          400.0
5      1006      John Doe 2024-06-01  Widget A       4.0        25.0          100.0
6      1001      John Doe 2024-01-01  Widget A      10.0        25.0          250.0
7      1007    Jane Smith 2024-07-01  Widget C      -6.0        70.0         -420.0

Removing duplicate rows

In [ ]:
import pandas as pd

# Removing duplicate rows
# in Sales.csv on rows 0 and 6
# in Mine.csv there are no duplicate rows

df1 = pd.read_csv('files/Mine.csv')
df2 = pd.read_csv('files/Sales.csv')

df1.drop_duplicates(inplace=True)
df2.drop_duplicates(inplace=True)

# Wrong formats on 'Date' column in both dataframes
df1['Date'] = pd.to_datetime(df1['Date'], errors='coerce')
df2['Order Date'] = pd.to_datetime(df2['Order Date'], errors='coerce')

# Removing empty cells and changing original dataframes without null
df1.dropna(inplace=True)
df2.dropna(inplace=True)    
print(df1.to_string())
print(df2.to_string())

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2023-10-01  110.0     130.0     409.1
1         60 2023-10-02  117.0     145.0     479.0
2         60 2023-10-03  103.0     135.0     340.3
3         45 2023-10-04  109.0     175.0     282.4
4         45 2023-10-05  117.0     150.0     405.1
5         60 2023-10-06  103.0     125.0     300.0
6         60 2023-10-07  110.0     135.0     374.0
8         60 2023-10-09  112.0     126.0     193.8
9         30 2023-10-10  102.0     147.0     234.8
10        60 2023-10-11  100.0     129.0     375.3
11        60 2023-10-12  109.0     131.0     345.6
12        60 2023-10-13  103.0     136.0     239.2
14        60 2023-10-15  120.0     100.0     240.8
16        60 2023-10-17  127.0     102.0     380.2
17        45 2023-10-18  142.0     103.0     241.4
19        60 2023-10-20  162.0     105.0     300.9
20        60 2023-10-21  100.0     106.0     280.0
24        60 2023-10-25  132.0     110.0     236.9
25        60 2023-10-26  135.0     118.0     278.8
26        60 2023-10-27  137.0     119.0     212.9
27        60 2023-10-28  138.0     121.0     345.9
28        60 2023-10-29  139.0     122.0     345.2
   Order ID Customer Name Order Date   Product  Quantity  Unit Price  Total Revenue
0      1001      John Doe 2024-01-01  Widget A      10.0        25.0          250.0
1      1002    Jane Smith 2024-01-02  Widget B       5.0        40.0          200.0
4      1005     Bob Brown 2024-01-05  Widget B      10.0        40.0          400.0
5      1006      John Doe 2024-06-01  Widget A       4.0        25.0          100.0
7      1007    Jane Smith 2024-07-01  Widget C      -6.0        70.0         -420.0

Removing wrong data

In [31]:
import pandas as pd

# Removing wrong data
# in Sales.csv on row 7 quantity and revenue cant be negative
# in Mine.csv there are no wrong data

df1 = pd.read_csv('files/Mine.csv')
df2 = pd.read_csv('files/Sales.csv')

# Removing wrong data
df2 = df2[df2['Quantity'] >= 0]
df2 = df2[df2['Total Revenue'] >= 0]

# Removing duplicate rows
df1.drop_duplicates(inplace=True)
df2.drop_duplicates(inplace=True)

# Wrong formats on 'Date' column in both dataframes
df1['Date'] = pd.to_datetime(df1['Date'], errors='coerce')
df2['Order Date'] = pd.to_datetime(df2['Order Date'], errors='coerce')

# Removing empty cells and changing original dataframes without null
df1.dropna(inplace=True)
df2.dropna(inplace=True)    
print(df1.to_string())
print(df2.to_string())

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2023-10-01  110.0     130.0     409.1
1         60 2023-10-02  117.0     145.0     479.0
2         60 2023-10-03  103.0     135.0     340.3
3         45 2023-10-04  109.0     175.0     282.4
4         45 2023-10-05  117.0     150.0     405.1
5         60 2023-10-06  103.0     125.0     300.0
6         60 2023-10-07  110.0     135.0     374.0
8         60 2023-10-09  112.0     126.0     193.8
9         30 2023-10-10  102.0     147.0     234.8
10        60 2023-10-11  100.0     129.0     375.3
11        60 2023-10-12  109.0     131.0     345.6
12        60 2023-10-13  103.0     136.0     239.2
14        60 2023-10-15  120.0     100.0     240.8
16        60 2023-10-17  127.0     102.0     380.2
19        60 2023-10-20  162.0     105.0     300.9
20        60 2023-10-21  100.0     106.0     280.0
24        60 2023-10-25  132.0     110.0     236.9
25        60 2023-10-26  135.0     118.0     278.8
26        60 2023-10-27  137.0     119.0     212.9
27        60 2023-10-28  138.0     121.0     345.9
28        60 2023-10-29  139.0     122.0     345.2
   Order ID Customer Name Order Date   Product  Quantity  Unit Price  Total Revenue
0      1001      John Doe 2024-01-01  Widget A      10.0        25.0          250.0
1      1002    Jane Smith 2024-01-02  Widget B       5.0        40.0          200.0
5      1006      John Doe 2024-06-01  Widget A       4.0        25.0          100.0

Removing Unnecessary columns that are no relevant to the analysis

In [35]:
import pandas as pd

df1 = pd.read_csv('files/Mine.csv')
df2 = pd.read_csv('files/Sales.csv')

# Removing wrong data
df2 = df2[df2['Quantity'] >= 0]
df2 = df2[df2['Total Revenue'] >= 0]

# Removing duplicate rows
df1.drop_duplicates(inplace=True)
df2.drop_duplicates(inplace=True)

# Wrong formats on 'Date' column in both dataframes
df1['Date'] = pd.to_datetime(df1['Date'], format='mixed', errors='coerce')
df2['Order Date'] = pd.to_datetime(df2['Order Date'], format='mixed', errors='coerce')

# Removing empty cells and changing original dataframes without null
df1.dropna(inplace=True)
df2.dropna(inplace=True)   

# Displaying the final cleaned dataframes without default index 
print(df1.to_string(index=False))
print(df2.to_string(index=False))

 Duration       Date  Pulse  Maxpulse  Calories
       60 2023-10-01  110.0     130.0     409.1
       60 2023-10-02  117.0     145.0     479.0
       60 2023-10-03  103.0     135.0     340.3
       45 2023-10-04  109.0     175.0     282.4
       45 2023-10-05  117.0     150.0     405.1
       60 2023-10-06  103.0     125.0     300.0
       60 2023-10-07  110.0     135.0     374.0
       60 2023-10-09  112.0     126.0     193.8
       30 2023-10-10  102.0     147.0     234.8
       60 2023-10-11  100.0     129.0     375.3
       60 2023-10-12  109.0     131.0     345.6
       60 2023-10-13  103.0     136.0     239.2
       60 2023-10-15  120.0     100.0     240.8
       60 2023-10-17  127.0     102.0     380.2
       45 2023-10-18  142.0     103.0     241.4
       60 2023-10-20  162.0     105.0     300.9
       60 2023-10-21  100.0     106.0     280.0
       60 2023-10-25  132.0     110.0     236.9
       60 2023-10-26  135.0     118.0     278.8
       60 2023-10-27  137.0     119.0     212.9
       60 2023-10-28  138.0     121.0     345.9
       60 2023-10-29  139.0     122.0     345.2
 Order ID Customer Name Order Date  Product  Quantity  Unit Price  Total Revenue
     1001      John Doe 2024-01-01 Widget A      10.0        25.0          250.0
     1002    Jane Smith 2024-01-02 Widget B       5.0        40.0          200.0
     1005     Bob Brown 2024-01-05 Widget B      10.0        40.0          400.0
     1006      John Doe 2024-06-01 Widget A       4.0        25.0          100.0