In [2]:
#1.Create a list with 5 items (names of people) and write a python program to output the 2nd item.
people = ["John", "Mable", "Kiran", "George", "Louis"]
print(people[1])

Mable

In [13]:
#2. Write a Python program to change the value of the first item to a new value
people = ["John", "Mable", "Kiran", "George", "Louis"]
people[0] = "Joseph"
print(people)

['Joseph', 'Mable', 'Kiran', 'George', 'Louis']

In [17]:
#3. Write a Python program to add a sixth item to the list
people = ["John", "Mable", "Kiran", "George", "Louis"]
people.append("Julie")
print(people)

['John', 'Mable', 'Kiran', 'George', 'Louis', 'Julie']

In [21]:
#4.  Write a Python program to add “Bathel” as the 3rd item in your list
people = ["John", "Mable", "Kiran", "George", "Louis"]
people.insert(2, "Bathel")
print(people)

['John', 'Mable', 'Bathel', 'Kiran', 'George', 'Louis']

In [23]:
#5. Write a Python program to remove the 4th item from the list
people = ["John", "Mable", "Kiran", "George", "Louis"]
people.remove("George")
print(people)

['John', 'Mable', 'Kiran', 'Louis']

In [25]:
#6. Use negative indexing to print the last item in your list
people = ["John", "Mable", "Kiran", "George", "Louis"]
print(people[-1])

Louis

In [29]:
#7. Create a new list with 7 items and use a range of indexes to print the 3rd, 4th, and 5th items.
utensils = ["cup", "plate", "pot", "glass", "spoon", "fork", "bottle"]
print(utensils [2:5])

['pot', 'glass', 'spoon']

In [31]:
#8. Write a list of countries and make a copy of it.
countries = ["Uganda", "Kenya", "South Africa", "Cameroon", "Rwanda", "Congo"]
africa = countries.copy()
print(africa)

['Uganda', 'Kenya', 'South Africa', 'Cameroon', 'Rwanda', 'Congo']

In [33]:
#9. Write a python program to loop through the list of countries
countries = ["Uganda", "Kenya", "South Africa", "Cameroon", "Rwanda", "Congo"]
for x in countries:
    print(x)

Uganda
Kenya
South Africa
Cameroon
Rwanda
Congo

In [41]:
#10. Write a list of animal names and sort them in both descending and ascending order.
animals = ["dog", "elephant", "lion", "ant", "rhino","chimpanzee", "kangaroo", "panda"]
animals.sort()
print(animals)

['ant', 'chimpanzee', 'dog', 'elephant', 'kangaroo', 'lion', 'panda', 'rhino']

In [43]:
#10. Write a list of animal names and sort them in both descending and ascending order.
animals = ["dog", "elephant", "lion", "ant", "rhino", "chimpanzee", "kangaroo", "panda"]
animals.sort(reverse = True)
print(animals)

['rhino', 'panda', 'lion', 'kangaroo', 'elephant', 'dog', 'chimpanzee', 'ant']

In [45]:
#11. Using the list above, write a Python program to output only animal names with the letter ‘a’ in them
animals = ["dog", "elephant", "lion", "ant", "rhino","chimpanzee", "kangaroo", "panda"]
new = [ x for x in animals if "a" in x]
print(new)

['elephant', 'ant', 'chimpanzee', 'kangaroo', 'panda']

In [52]:
#12. Write two lists, one containing your first names and the other your second names. Join the two lists.
firstNames = ["John", "Mable", "Kiran", "George", "Louis"]
LastNames = ["Ssenyange", "Nazziwa", "Kobusingye", "Kato", "Atuhaire"]
names = firstNames + LastNames
print(names)

['John', 'Mable', 'Kiran', 'George', 'Louis', 'Ssenyange', 'Nazziwa', 'Kobusingye', 'Kato', 'Atuhaire']