In [2]:
# 1. Declare two variables, an integer and a string and use the correct method to concatenate the two variables.
x = 10
y = "Hello World"
print (x,y)

10 Hello World

In [6]:
# 2. Consider the example below;  Output the string without spaces at the beginning, in the middle and at the end.
txt = "      Hello,       Uganda!       "
print(txt.strip())

Hello,       Uganda!

In [8]:
# 3. Write a python program to convert the value of ‘txt’ to uppercase.
txt = "      Hello,       Uganda!       "
print(txt.upper())

      HELLO,       UGANDA!

In [10]:
# 4. Write a Python program to replace character ‘U’ with ‘V’ in the string above.
txt = "      Hello,       Uganda!       "
print(txt.replace("U" , "V"))

      Hello,       Vganda!

In [16]:
# 5.Using the code below, write a python program to return a range of characters in the 2nd, 3rd and 4th position.
y = "I am proudly Ugandan"
print(y[1:5])

 am

In [25]:
# 6. The piece of code below will give an error when output; Write a python program to correct it.
x = "All \"Data Scientists\" are cool!" 
print(x)

All "Data Scientists" are cool!